<div class="app-shell">
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  @if (restTimer.secondsLeft !== null && !isCurrentExerciseRoute()) {
    <button
      type="button"
      class="app-rest-timer"
      aria-label="Return to current exercise"
      (click)="returnToCurrentExercise()"
    >
      <span class="app-rest-timer__label">Rest</span>
      <span class="app-rest-timer__countdown">{{ restTimer.secondsLeft }}</span>
    </button>
  }

  <nav class="tab-bar">
    <a
      class="tab-bar__item"
      routerLink="/"
      [class.is-active]="isTodayRoute()"
      (click)="onTodayTabClick($event)"
    >
      <span class="tab-bar__label">Today</span>
    </a>
    <a class="tab-bar__item" routerLink="/program" routerLinkActive="is-active">
      <span class="tab-bar__label">Workouts</span>
    </a>
    <a class="tab-bar__item" routerLink="/history" routerLinkActive="is-active">
      <span class="tab-bar__label">History</span>
    </a>
    <a
      class="tab-bar__item"
      routerLink="/settings"
      routerLinkActive="is-active"
    >
      <span class="tab-bar__label">Settings</span>
    </a>
    <a class="tab-bar__item" routerLink="/account" routerLinkActive="is-active">
      <span class="tab-bar__label">Account</span>
    </a>
  </nav>
</div>
